<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
          content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!-- Website Title -->
    <title> 시간순삭 영화리뷰 </title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link href="../static/css/swiper.css" rel="stylesheet">
    <link href="../static/css/magnific-popup.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    <!--    원본 링크 코드-->
    <!--    <link href="../static/css/fontawesome-all.css" rel="stylesheet">-->
    <!--    <link href="../static/css/swiper.css" rel="stylesheet">-->
    <!--    <link href="../static/css/magnific-popup.css" rel="stylesheet">-->
    <!--    <link href="../static/css/styles.css" rel="stylesheet">-->

    <!-- Favicon  -->
    <link rel="icon" href="../static/images/aaa.png">
    <!--    원본 링크 코드-->
    <!--    <link rel="icon" href="../static/images/favicon.png">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script>
        $.ajax({
            type: "GET",
            url: "/youtube",
            data: {},
            success: function (response) {
                let videos = response['all_videos']
// 1st card
                let thumbnails_1 = videos[0][0]['snippet']['thumbnails']['standard']['url'];
                let title_1 = videos[0][0]['snippet']['title'];
                let channeltitle_1 = videos[0][0]['snippet']['channelTitle'];
                let movie_1 = videos[0][0]['snippet']['resourceId']['videoId'];
                let link_1 = videos[0][0]['snippet']['resourceId']['videoId'];

                let temp_html_1 = `<iframe width="600px" height="350px"
                                        src="https://www.youtube.com/embed/${movie_1}?rel=0&amp;loop=1;playlist=${movie_1}"
                                         frameborder="0"></iframe>`

                let temp_html_1_1 = `<a class="popup-with-move-anim" href="#project-1">
                                                <div class="element-item-overlay">
                                                    <span>${title_1}</span>
                                                </div>
                                                <div class="text-center">
                                                    <img src="${thumbnails_1}" alt="video thumbnails">
                                                </div>
                                            </a>`
                let temp_html_1_2 = `<button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                                        <div >

                                        </div>

                                       <!-- end of col -->
                                        <div class="col-lg-4">
                                            <ul>
                                                <li><h3>채널: ${channeltitle_1}</h3></li>
                                                <li><h3>좋아요: </h3></li>
                                            </ul>
                                            <a class="btn-solid-reg" href="https://www.youtube.com/watch?v=${link_1}">링크</a> <a class="btn-outline-reg mfp-close as-button"
                                                                                             href="#projects">뒤로가기</a>
                                        </div>`

                $('#player_1').append(temp_html_1)
                $('#player_1_1').append(temp_html_1_1)
                $('#player_1_2').append(temp_html_1_2)
// 2th card
                let thumbnails_2 = videos[1][0]['snippet']['thumbnails']['standard']['url'];
                let title_2 = videos[1][0]['snippet']['title'];
                let channeltitle_2 = videos[1][0]['snippet']['channelTitle'];
                let movie_2 = videos[1][0]['snippet']['resourceId']['videoId'];
                let link_2 = videos[0][0]['snippet']['resourceId']['videoId'];


                let temp_html_2 = `<iframe width="600px" height="350px"
                                        src="https://www.youtube.com/embed/${movie_2}?rel=0&amp;loop=1;playlist=${movie_2}"
                                         frameborder="0"></iframe>`

                let temp_html_2_1 = `<a class="popup-with-move-anim" href="#project-2">
                                                <div class="element-item-overlay">
                                                    <span>${title_2}</span>
                                                </div>
                                                <div class="text-center">
                                                    <img src="${thumbnails_2}" alt="video thumbnails">
                                                </div>
                                            </a>`
                let temp_html_2_2 = `<button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                                        <div >

                                        </div>

                                       <!-- end of col -->
                                        <div class="col-lg-4">
                                            <ul>
                                                <li>채널: ${channeltitle_2}</li>
                                                <li><h3>좋아요: </h3></li>
                                            </ul>
                                            <a class="btn-solid-reg" href="https://www.youtube.com/watch?v=${link_2}">링크</a> <a class="btn-outline-reg mfp-close as-button"
                                                                                             href="#projects">뒤로가기</a>
                                        </div>`
                $('#player_2').append(temp_html_2)
                $('#player_2_1').append(temp_html_2_1)
                $('#player_2_2').append(temp_html_2_2)
// 3th card
                let thumbnails_3 = videos[2][0]['snippet']['thumbnails']['standard']['url'];
                let title_3 = videos[2][0]['snippet']['title'];
                let channeltitle_3 = videos[2][0]['snippet']['channelTitle'];
                let movie_3 = videos[2][0]['snippet']['resourceId']['videoId'];
                let link_3 = videos[2][0]['snippet']['resourceId']['videoId'];

                let temp_html_3 = `<iframe width="600px" height="350px"
                                        src="https://www.youtube.com/embed/${movie_3}?rel=0&amp;loop=1;playlist=${movie_3}"
                                         frameborder="0"></iframe>`

                let temp_html_3_1 = `<a class="popup-with-move-anim" href="#project-3">
                                                <div class="element-item-overlay">
                                                    <span>${title_3}</span>
                                                </div>
                                                <div class="text-center">
                                                    <img src="${thumbnails_3}" alt="video thumbnails">
                                                </div>
                                            </a>`

                let temp_html_3_2 = `<button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                                        <div >

                                        </div>

                                       <!-- end of col -->
                                        <div class="col-lg-4">
                                            <ul>
                                                <li><h3>채널: ${channeltitle_3}</h3></li>
                                                <li><h3>좋아요: </h3></li>
                                            </ul>
                                            <a class="btn-solid-reg" href="https://www.youtube.com/watch?v=${link_3}">링크</a> <a class="btn-outline-reg mfp-close as-button"
                                                                                             href="#projects">뒤로가기</a>
                                        </div>`
                $('#player_3').append(temp_html_3)
                $('#player_3_1').append(temp_html_3_1)
                $('#player_3_2').append(temp_html_3_2)
// 4th card
                let thumbnails_4 = videos[3][0]['snippet']['thumbnails']['standard']['url'];
                let title_4 = videos[3][0]['snippet']['title'];
                let channeltitle_4 = videos[3][0]['snippet']['channelTitle'];
                let movie_4 = videos[3][0]['snippet']['resourceId']['videoId'];
                let link_4 = videos[2][0]['snippet']['resourceId']['videoId'];

                let temp_html_4 = `<iframe width="600px" height="350px"
                                        src="https://www.youtube.com/embed/${movie_4}?rel=0&amp;loop=1;playlist=${movie_4}"
                                         frameborder="0"></iframe>`

                let temp_html_4_1 = `<a class="popup-with-move-anim" href="#project-4">
                                                <div class="element-item-overlay">
                                                    <span>${title_4}</span>
                                                </div>
                                                <div class="text-center">
                                                    <img src="${thumbnails_4}" alt="video thumbnails">
                                                </div>
                                            </a>`
                let temp_html_4_2 = `<button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                                        <div >

                                        </div>

                                       <!-- end of col -->
                                        <div class="col-lg-4">
                                            <ul>
                                                <li><h3>채널: ${channeltitle_4}</h3></li>
                                                <li><h3>좋아요: </h3></li>
                                            </ul>
                                            <a class="btn-solid-reg" href="https://www.youtube.com/watch?v=${link_4}">링크</a> <a class="btn-outline-reg mfp-close as-button"
                                                                                             href="#projects">뒤로가기</a>
                                        </div>`
                $('#player_4').append(temp_html_4)
                $('#player_4_1').append(temp_html_4_1)
                $('#player_4_2').append(temp_html_4_2)
// 5th card
                let thumbnails_5 = videos[4][0]['snippet']['thumbnails']['standard']['url'];
                let title_5 = videos[4][0]['snippet']['title'];
                let channeltitle_5 = videos[4][0]['snippet']['channelTitle'];
                let movie_5 = videos[4][0]['snippet']['resourceId']['videoId'];
                let link_5 = videos[2][0]['snippet']['resourceId']['videoId'];

                let temp_html_5 = `<iframe width="600px" height="350px"
                                        src="https://www.youtube.com/embed/${movie_5}?rel=0&amp;loop=1;playlist=${movie_5}"
                                         frameborder="0"></iframe>`

                let temp_html_5_1 = `<a class="popup-with-move-anim" href="#project-5">
                                                <div class="element-item-overlay">
                                                    <span>${title_5}</span>
                                                </div>
                                                <div class="text-center">
                                                    <img src="${thumbnails_5}" alt="video thumbnails">
                                                </div>
                                            </a>`
                let temp_html_5_2 = `<button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                                        <div >

                                        </div>

                                       <!-- end of col -->
                                        <div class="col-lg-4">
                                            <ul>
                                                <li><h3>채널: ${channeltitle_5}</h3></li>
                                                <li><h3>좋아요: </h3></li>
                                            </ul>
                                            <a class="btn-solid-reg" href="https://www.youtube.com/watch?v=${link_5}">링크</a> <a class="btn-outline-reg mfp-close as-button"
                                                                                             href="#projects">뒤로가기</a>
                                        </div>`
                $('#player_5').append(temp_html_5)
                $('#player_5_1').append(temp_html_5_1)
                $('#player_5_2').append(temp_html_5_2)
// 6th card
                let thumbnails_6 = videos[5][0]['snippet']['thumbnails']['standard']['url'];
                let title_6 = videos[5][0]['snippet']['title'];
                let channeltitle_6 = videos[5][0]['snippet']['channelTitle'];
                let movie_6 = videos[5][0]['snippet']['resourceId']['videoId'];
                let link_6 = videos[2][0]['snippet']['resourceId']['videoId'];

                let temp_html_6 = `<iframe width="600px" height="350px"
                                        src="https://www.youtube.com/embed/${movie_6}?rel=0&amp;loop=1;playlist=${movie_6}"
                                         frameborder="0"></iframe>`

                let temp_html_6_1 = `<a class="popup-with-move-anim" href="#project-6">
                                                <div class="element-item-overlay">
                                                    <span>${title_6}</span>
                                                </div>
                                                <div class="text-center">
                                                    <img src="${thumbnails_6}" alt="video thumbnails">
                                                </div>
                                            </a>`
                let temp_html_6_2 = `<button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                                        <div >

                                        </div>

                                       <!-- end of col -->
                                        <div class="col-lg-4">
                                            <ul>
                                                <li><h3>채널: ${channeltitle_6}</h3></li>
                                                <li><h3>좋아요: </h3></li>
                                            </ul>
                                            <a class="btn-solid-reg" href="https://www.youtube.com/watch?v=${link_6}">링크</a> <a class="btn-outline-reg mfp-close as-button"
                                                                                             href="#projects">뒤로가기</a>
                                        </div>`
                $('#player_6').append(temp_html_6)
                $('#player_6_1').append(temp_html_6_1)
                $('#player_6_2').append(temp_html_6_2)
// 7th card
                let thumbnails_7 = videos[6][0]['snippet']['thumbnails']['standard']['url'];
                let title_7 = videos[6][0]['snippet']['title'];
                let channeltitle_7 = videos[6][0]['snippet']['channelTitle'];
                let movie_7 = videos[6][0]['snippet']['resourceId']['videoId'];
                let link_7 = videos[2][0]['snippet']['resourceId']['videoId'];

                let temp_html_7 = `<iframe width="600px" height="350px"
                                        src="https://www.youtube.com/embed/${movie_7}?rel=0&amp;loop=1;playlist=${movie_7}"
                                         frameborder="0"></iframe>`

                let temp_html_7_1 = `<a class="popup-with-move-anim" href="#project-7">
                                                <div class="element-item-overlay">
                                                    <span>${title_7}</span>
                                                </div>
                                                <div class="text-center">
                                                    <img src="${thumbnails_7}" alt="video thumbnails">
                                                </div>
                                            </a>`
                let temp_html_7_2 = `<button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                                        <div >

                                        </div>

                                       <!-- end of col -->
                                        <div class="col-lg-4">
                                            <ul>
                                                <li><h3>채널: ${channeltitle_7}</h3></li>
                                                <li><h3>좋아요: </h3></li>
                                            </ul>
                                            <a class="btn-solid-reg" href="https://www.youtube.com/watch?v=${link_7}">링크</a> <a class="btn-outline-reg mfp-close as-button"
                                                                                             href="#projects">뒤로가기</a>
                                        </div>`
                $('#player_7').append(temp_html_7)
                $('#player_7_1').append(temp_html_7_1)
                $('#player_7_2').append(temp_html_7_2)
// 8th card
                let thumbnails_8 = videos[7][0]['snippet']['thumbnails']['standard']['url'];
                let title_8 = videos[7][0]['snippet']['title'];
                let channeltitle_8 = videos[7][0]['snippet']['channelTitle'];
                let movie_8 = videos[7][0]['snippet']['resourceId']['videoId'];
                let link_8 = videos[2][0]['snippet']['resourceId']['videoId'];

                let temp_html_8 = `<iframe width="600px" height="350px"
                                        src="https://www.youtube.com/embed/${movie_8}?rel=0&amp;loop=1;playlist=${movie_8}"
                                         frameborder="0"></iframe>`

                let temp_html_8_1 = `<a class="popup-with-move-anim" href="#project-8">
                                                <div class="element-item-overlay">
                                                    <span>${title_8}</span>
                                                </div>
                                                <div class="text-center">
                                                    <img src="${thumbnails_8}" alt="video thumbnails">
                                                </div>
                                            </a>`
                let temp_html_8_2 = `<button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                                        <div >

                                        </div>

                                       <!-- end of col -->
                                        <div class="col-lg-4">
                                            <ul>
                                                <li><h3>채널: ${channeltitle_8}</h3></li>
                                                <li><h3>좋아요: </h3></li>
                                            </ul>
                                            <a class="btn-solid-reg" href="https://www.youtube.com/watch?v=${link_8}">링크</a> <a class="btn-outline-reg mfp-close as-button"
                                                                                             href="#projects">뒤로가기</a>
                                        </div>`
                $('#player_8').append(temp_html_8)
                $('#player_8_1').append(temp_html_8_1)
                $('#player_8_2').append(temp_html_8_2)
            }
        });
    </script>

</head>
<body data-spy="scroll" data-target=".fixed-top">

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->


<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="52.78.14.172:5000"> <img src="../static/images/vvv.png" alt="alternative"></a>

    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#header">오늘 뭐 보지?<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#projects">시간대 선택</a>
            </li>


        </ul>

    </div>
</nav> <!-- end of navbar -->
<!-- end of navbar -->


<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1><span id="js-rotating">시간순삭, 영화리뷰</span></h1>
                        <p class="p-heading p-large">영화를 좋아하는 당신! 하지만 정주행 하기에는 시간이 부족하신가요? 영화를 빠르게 정독하고 싶을 때, 당신이 찾는 바로
                            그 영화리뷰!</p>
                        <a class="btn-solid-lg page-scroll" href="#projects">FIND A VIEW</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->


<div id="projects" class="filter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>
                    <div class="test">당신의 시간을 선택해주세요!</div>
                </h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Filter -->
                <div class="button-group filters-button-group">
                    <a class="button is-checked" data-filter="*"><span>10분안에 보고싶어요!</span></a>
                    <a class="button" data-filter=".development"><span>30분안에 보고싶어요!</span></a>
                    <a class="button" data-filter=".development"><span>1시간안에 보고싶어요!</span></a>
                    <a class="button" data-filter=".development"><span>1시간도 더 볼 수 있어요!</span></a>
                </div>


<!-- end of button group -->
                <div class="grid">
                    <div class="element-item development">
                        <a class="popup-with-move-anim" id="player_1_1" href="#project-1">
                        </a>
                    </div>
                    <div class="element-item development">
                        <a class="popup-with-move-anim" id="player_2_1" href="#project-2">
                        </a>
                    </div>
                    <div class="element-item development">
                        <a class="popup-with-move-anim" id="player_3_1" href="#project-3">
                        </a>
                    </div>
                    <div class="element-item development">
                        <a class="popup-with-move-anim" id="player_4_1" href="#project-4">
                        </a>
                    </div>
                    <div class="element-item development">
                        <a class="popup-with-move-anim" id="player_5_1" href="#project-5">
                        </a>
                    </div>
                    <div class="element-item development">
                        <a class="popup-with-move-anim" id="player_6_1" href="#project-6">
                        </a>
                    </div>
                    <div class="element-item development">
                        <a class="popup-with-move-anim" id="player_7_1" href="#project-7">
                        </a>
                    </div>
                    <div class="element-item development">
                        <a class="popup-with-move-anim" id="player_8_1" href="#project-8">
                        </a>
                    </div>


                </div>
<!--                <!— end of grid —>-->
<!--                <!— end of filter —>-->

            </div>
<!--            <!— end of col —>-->
        </div>
<!--        <!— end of row —>-->
    </div>
<!--    <!— end of container —>-->
</div>
<!--&lt;!&ndash;원본&ndash;&gt;-->
<!--&lt;!&ndash; Projects &ndash;&gt;-->
<!--<div id="projects" class="filter">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <h2>-->
<!--                    <div class="test">당신의 시간을 선택해주세요!</div>-->
<!--                </h2>-->
<!--            </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                &lt;!&ndash; Filter &ndash;&gt;-->
<!--                <div class="button-group filters-button-group">-->
<!--                    <a class="button is-checked" data-filter="*"><span>10분안에 보고싶어요!</span></a>-->
<!--                    <a class="button" data-filter=".design"><span>30분안에 보고싶어요!</span></a>-->
<!--                    <a class="button" data-filter=".development"><span>1시간안에 보고싶어요!</span></a>-->
<!--                    <a class="button" data-filter=".development"><span>1시간도 더 볼 수 있어요!</span></a>-->

<!--                </div> &lt;!&ndash; end of button group &ndash;&gt;-->
<!--                <div class="grid">-->
<!--                    <div class="element-item development">-->
<!--                        <a class="popup-with-move-anim" id="player_1" href="#project-1">-->
<!--                            <div class="element-item-overlay">-->
<!--                                <span></span>-->
<!--                            </div>-->
<!--                            <img src="" alt="video thumbnails">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="element-item development" style="position: absolute; left: 277px; top: 0px;"><a-->
<!--                            class="popup-with-move-anim" href="#project-2">-->
<!--                        <div class="element-item-overlay"><span>Classic Industry</span></div>-->
<!--                        <img src="../static/images/project-2.jpg" alt="website template image"></a>-->
<!--                    </div>-->
<!--                    <div class="element-item development">-->
<!--                        <a class="popup-with-move-anim"  href="#project-1">-->
<!--                            <div class="element-item-overlay">-->
<!--                                <span></span>-->
<!--                            </div>-->
<!--                            <img src="" alt="video thumbnails">-->
<!--                        </a>-->
<!--                    </div>-->

<!--                </div> &lt;!&ndash; end of grid &ndash;&gt;-->
<!--                &lt;!&ndash; end of filter &ndash;&gt;-->

<!--            </div> &lt;!&ndash; end of col &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end of row &ndash;&gt;-->
<!--    </div> &lt;!&ndash; end of container &ndash;&gt;-->
<!--</div> &lt;!&ndash; end of filter &ndash;&gt;-->
<!--&lt;!&ndash; end of projects &ndash;&gt;-->


<!-- Project Lightboxes -->
<!-- Lightbox -->
<div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row" id="player_1_2">
        <div class="col-lg-8">
            <div id="player_1"></div>
        </div>
    </div>
</div>
 <!-- end of lightbox-basic -->
<!-- end of lightbox -->

<!-- Lightbox -->
<div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row" id="player_2_2">
        <div class="col-lg-8">
            <div id="player_2"></div>
        </div>
    </div>
</div> <!-- end of lightbox-basic -->
<!-- end of lightbox -->

<!-- Lightbox -->
<div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row" id="player_3_2">
        <div class="col-lg-8">
            <div id="player_3"></div>
        </div>
    </div>
</div> <!-- end of lightbox-basic -->
<!-- end of lightbox -->

<!-- Lightbox -->
<div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row" id="player_4_2">
        <div class="col-lg-8">
            <div id="player_4"></div>
        </div>
    </div>
</div> <!-- end of lightbox-basic -->
<!-- end of lightbox -->

<!-- Lightbox -->
<div id="project-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row" id="player_5_2">
        <div class="col-lg-8">
            <div id="player_5"></div>
        </div>
    </div>
</div> <!-- end of lightbox-basic -->
<!-- end of lightbox -->

<!-- Lightbox -->
<div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row" id="player_6_2">
        <div class="col-lg-8">
            <div id="player_6"></div>
        </div>
    </div>
</div> <!-- end of lightbox-basic -->
<!-- end of lightbox -->

<!-- Lightbox -->
<div id="project-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row" id="player_7_2">
        <div class="col-lg-8">
            <div id="player_7"></div>
        </div>
    </div>
</div> <!-- end of lightbox-basic -->
<!-- end of lightbox -->

<!-- Lightbox -->
<div id="project-8" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="row" id="player_8_2">
        <div class="col-lg-8">
            <div id="player_8"></div>
        </div>
    </div>
</div> <!-- end of lightbox-basic -->
<!-- end of lightbox -->
<!-- end of project lightboxes -->


<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-container about">
                    <h4>6조</h4>
                    <p class="white">팀장｜ 안제환</p>
                    <p class="white">팀원｜ 윤만식 김영훈 김호 김나연</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-2">

            </div> <!-- end of col -->
            <div class="col-md-2">
                <div class="text-container">
                    <h4>템플릿 출처</h4>
                    <ul class="list-unstyled li-space-lg">
                        <li>
                            <a class="white"
                               href="https://www.free-css.com/free-css-templates/page259/aria">바로가기</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->


<!-- Scripts -->
<script src="../static/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="../static/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="../static/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="../static/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="../static/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="../static/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="../static/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="../static/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="../static/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>